body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
/* menu bar */
ul{
    text-align: right;
    margin: 50px 100px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    margin-left: 30px;
    color: #000;
}
.section-divied{
    float: left;
    width: 40%;
    margin-left:5%;
    padding-left: 2%;
}
.section-divied img{
    width: 100%;
}
.line-spac{
    line-height: 15px;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
h4{
    color: rgb(59, 51, 51);
}
.orange-highlight{
    color: orange;
}

.link-button{
    text-decoration: none;
    background-image:linear-gradient(45deg, lightsalmon, tomato);
    color: white;
    border-radius:5px;
    padding: 10px 20px;
    font-weight: 700;
}
.poject-section-divied{
    float: left;
    width: 15%;
    
}
.poject-section-divied img{
    width: 100%;
}
.clear-height{
    margin-top: 600px;

}
.clearfix::after{
    content: "";
    clear: both;
    display: block;
}
section{
    margin-top: 60px;
}

    
