body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
section{
    height: 500px;
    margin-bottom: 150px;
}
/* menu bar */
ul{
    text-align: right;
    margin: 50px 100px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    margin-left: 30px;
    color: #000;
}
.section-divied{
    float: left;
    width: 40%;
    margin-left:5%;
    padding-left: 2%;
}
.section-divied img{
    width: 100%;
}
.line-spac{
    line-height: 15px;
}
h1{
    font-size: 50px;
    color: rgb(39, 32, 32);
}
h2{
    font-size: 40px;
}
h4{
    color: rgb(87, 80, 80);
}
.orange-highlight{
    color: rgb(255, 94, 0);
}

.link-button{
    text-decoration: none;
    background-image:linear-gradient(45deg, lightsalmon, tomato);
    color: white;
    border-radius:5px;
    padding: 10px 20px;
    font-weight: 700;
}
.poject-section-divied{
    float: left;
    width: 25%;
    margin-left:2%;
    padding-left: 1%;   
}
.poject-section-divied img{
    width: 100%;
}
.box-decoration{
    box-shadow: 10px 10px 30px gray;
    border-radius: 10px;
    height: 65%;
    padding-right:10px;
    padding-top: 15px; 
}
.margin{
    margin-left:150px;
}
.text-align{
    text-align: center;
    font-size: 35px;
    margin-bottom: 100px;
}
.background{
    background-image: url("image/Group_33094_1.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position:cover;
    margin: 250px 250px;
}
.half-width{
    width: 40%;
    float: left;
    margin-left:5%;
    padding-left: 2%;
}
.text-dec{
    color:white;
    font-size: 40px;
    padding-top: 50px;
}
.chat-button{
    padding-top: 95px;
    padding-left: 60px;
}

footer{
    text-align: center;
    margin-top: -400px;
}
#footer-image{
    margin-right:370px;
    margin-top: -50px;
}





    
